html, body {
    background: #f0f0f0;
}

h1 {
    font-weight: 400;
    margin: 0;
}

label em {
    color: red;
}

#header {
    background: rgb(220, 235, 221);
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 5px;
    margin-bottom: 1em;
}

#header p {
    display: inline;
}

#header ul {
    background: rgb(160, 213, 214);
    border: groove rgb(220, 235, 221);
    border-radius: 4px;
    list-style-type: none;
    display: inline;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

#header ul li {
    display: inline;
}

#navigation li a:link {
    text-decoration: none;
}

#navigation {
    list-style-type: none;
}

#navigation li {
    margin-top: 10px;
    margin-bottom: 15px;
}

input:focus {
    background: silver;
    font-weight: bold;
}

#monitoring {
    border-radius: 3px;
}


#footer {
    border-top-style: ridge;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: rgb(220, 235, 221);
}