%%-*- mode: erlang -*-
{require_otp_vsn, "R15B01"}.
{deps, [
        {cowboy, ".*", {git, "https://github.com/extend/cowboy.git", "0c2e2224e372f01e6cf51a8e12d4856edb4cb8ac"}},
	{jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", "62aef415e12f7843611e7104586ec190354d58b1"}},
	{mdns, ".*", {git, "https://github.com/shortishly/erlang-mdns.git", "a715abd40af595fb07ea210eb5066ea9908fc46c"}}
       ]}.
