%% -*- mode: erlang -*-
[
 {kernel, [
	   {error_logger, {file, "log/kernel.log"}}
	  ]},
 
 {sasl, [ 
	  {sasl_error_logger, {file, "log/sasl.log"}}, 
	  {error_logger_mf_dir,"log"}, 
	  {error_logger_mf_maxbytes,10485760},
	  {error_logger_mf_maxfiles, 10},
	  {errlog_type, all}
	]},
 
 {lighthouse, [
	{http, #{port => 8181,
		 routes => [
			    {"/topics", sse_topic_resource, [root]},
			    {"/topic/[...]", sse_topic_resource, []},
 			    {"/stream/[...]", sse_topic_event_stream_resource, []},
			    {"/events", sse_events_resource, []}
			    ]}}
       ]}
].
